html, body{
    font-family: 'Roboto Mono';
    background-color: white;
    color: white;
}

::selection {color:white;background:white;}
::-moz-selection {color:white;background:white;}

.container-landing-page{
    background-color: #555753;
    width: 100%;
    margin: 0;
    height: 100vh;
}

.console-landing-page{
    padding-top: 20px;
}

.input-group-addon-console{
    background-color: transparent;
    border: none;
    color: #8AE234;
    padding: 0 !important;
    margin: 0 !important;
}

.console-path{
    color: #729FCF;
}

.form-control-console{
    background-color: transparent;
    color: white;
    border: none;
    /*padding-left: 0px !important;*/
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control-console:hover,
.form-control-console:active,
.form-control-console:focus{
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.commad-result{
    font-family: 'Roboto Mono';
    padding: 0 !important;
    border-radius: 0;
    background-color: transparent;
    color: white;
    border: 0;
}

.command-line-link{
    color: white;
    text-decoration: underline;
}

.command-line-link:hover,
.command-line-link:focus,
.command-line-link:active{
    color: white;
}
