<div class="container container-landing-page" ng-controller="focusController" ng-click="focusForever()">
    <div class="row">
        <div class="col-xs-12">
            <div class="console-landing-page">
                <pre class="command-result">{{welcome.message}} <a class="command-line-link" href="" ng-click="prettyMode()">pretty mode</a>.</pre>
                <!-- <pre class="commad-result">{{welcome.message}} <a class="command-line-link" href="">pretty mode</a>.</pre> -->
                <span id="directory-here"></span>
                <div class="input-group input-group-sm" ng-hide="hideOriginalInput">
                    <span class="input-group-addon input-group-addon-console">
                        <b>guest@jofftiquez.com</b>
                        <b>{{ dateTime | date : 'MMM d, y h:mm:ss' }}</b>
                        <b class="console-path"> / $</b>
                    </span>
                    <form ng-submit="handleCommand()">
                        <input id="input" type="text" ng-model="commandEntered.input" class="form-control form-control-console" autocomplete="off">
                        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                    </form>
                </div>
                <div class="">
                    <pre class="command-result">{{result}}</pre>
                </div>
            </div>
        </div>
    </div>
    <a id="bottom"></a>
    <pre class="command-result version">{{ version }}</pre>
</div>

